apiVersion: apps/v1
kind: Deployment
metadata:
  name: user-service
  namespace: asset-spy
spec:
  replicas: 1
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxUnavailable: 1
      maxSurge: 0
  selector:
    matchLabels:
      app: user-service
  template:
    metadata:
      labels:
        app: user-service
    spec:
      containers:
        - name: user-service
          image: nastss6tx5/asset-spy-user-service:latest
          ports:
            - containerPort: 8082
          envFrom:
            - configMapRef:
                name: user-service-config
            - secretRef:
                name: user-service-secret
          env:
            - name: JAVA_TOOL_OPTIONS
              value: "-Xms384m -Xmx512m"
          resources:
            requests:
              memory: "384Mi"
              cpu: "200m"
            limits:
              memory: "512Mi"
              cpu: "400"